@import 'breakpoints';

.block {
	$parent: &;

	position: relative;
	padding: 40px 0;

	@include breakpoint($lg) {
		&-pad-default {
			padding: 80px 0;
		}

		&--pad-lg {
			padding: 120px 0;
		}
	}

	> img {
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		background-size: cover;
		background-position: center center;
	}
}
